.textBox {
    -fx-border-radius: 40px;
    -fx-background-radius: 40px;
    -fx-background-color: rgba(155,155,155,0.9);
    -fx-min-width: 300;
    -fx-min-height: 50;
    -fx-font-size: 20;
    -fx-font-family: Cagliostro;
}

.borderBox {
    -fx-border-color: blue;
    -fx-border-width: 4px;
}

.vboxPoints {
	-fx-padding: 10;
	-fx-border-width: 2;
	-fx-border-radius: 5;
	-fx-background-color: #5094BF;
	-fx-border-radius: 15; 
    -fx-background-radius: 15; 
}