.buttonTransparence {
    -fx-background-color: transparent;
}
.buttonTransparence {
    -fx-cursor: hand;
}

.buttonTransparence:pressed {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

.buttonBasic {
    -fx-background-color: linear-gradient(from 50% 0% to 50% 100%,
    #3624c5, #2a5bcc);
    -fx-effect: dropshadow(gaussian,rgba(0, 0, 0, 0.25),4,0,0,4);
    -fx-border-color: #FFC900;
    -fx-border-width: 4px;
    -fx-border-radius: 65px;
    -fx-background-radius: 65px;
    -fx-text-fill: white;
    -fx-font-family: Cagliostro;
}

.buttonBasic:hover{
    -fx-cursor: hand;
}

.buttonBasic:pressed {
    -fx-scale-shape: true;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-background-color: linear-gradient(from 50% 0% to 50% 100%,
    rgb(20, 233, 101), #6ecc0e);
    -fx-text-fill: black;
}

#small-button {
    -fx-min-width: 100px;
    -fx-min-height: 25px;
    -fx-font-size: 25;
}

#medium-button {
    -fx-min-width: 200px;
    -fx-min-height: 80px;
    -fx-font-size: 30;
}

#big-button {
    -fx-min-width: 300px;
    -fx-min-height: 90px;
    -fx-font-size: 40;
}

.round {
    -fx-background-radius: 50em;
    -fx-min-width: 45px;
    -fx-min-height: 45px;
    -fx-max-width: 45px;
    -fx-max-height: 45px;
    -fx-background-color: linear-gradient(from 50% 0% to 50% 100%,
    #3624c5, #2a5bcc);
    -fx-border-color: #FFC900;
    -fx-border-width: 4px;
    -fx-border-radius: 65px;
    -fx-background-radius: 65px;
    -fx-background-insets: 0px;
    -fx-padding: 0px;
}
.round:hover {
    -fx-cursor: hand;
}

.round:pressed {
    -fx-scale-shape: true;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-background-color: linear-gradient(from 50% 0% to 50% 100%,
    rgb(20, 233, 101), #6ecc0e);
    -fx-text-fill: black;
}