<<<<<<< HEAD
.buttonTransparence {
    -fx-background-color: transparent;
}
.buttonTransparence {
    -fx-cursor: hand;
}

.buttonTransparence:pressed {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

.buttonBasic {
    -fx-background-color: #e6df15;
    -fx-background-radius: 20px;
    -fx-font-size: 30;
}
.buttonBasic{
    -fx-cursor: hand;
}

.buttonBasic:pressed {
    -fx-background-color: #e6c41b;
    -fx-scale-shape: true;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-effect: dropshadow( one-pass-box , black , 8 , 0.0 , 2 , 0 );
}

.label {
	-fx-font-family: Cagliostro;
	-fx-font-style: normal;
	-fx-font-weight: normal;
	-fx-font-size: 36px;
	-fx-line-height: 49px;
	-fx-color: white;
}

.textBox {
	-fx-border-radius: 40px;
	-fx-background-radius: 40px;
	-fx-background-color: grey;
}
=======
.buttonTransparence {
    -fx-background-color: transparent;
}
.buttonTransparence {
    -fx-cursor: hand;
}

.buttonTransparence:pressed {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}



.buttonBasic {
    -fx-background-color: linear-gradient(from 50% 0% to 50% 100%,
    rgb(20, 233, 101), #6ecc0e);
    -fx-effect: dropshadow(gaussian,rgba(0, 0, 0, 0.25),4,0,0,4);
    -fx-padding: 20 50 20 50;
    -fx-border-color: #FFC900;
    -fx-border-width: 4px;
    -fx-border-radius: 65px;
    -fx-background-radius: 65px;
    -fx-font-size: 40;
    -fx-text-fill: white;
    -fx-font-family: Cagliostro;
    -fx-cell-size: 150px 100px;
    -fx-min-width: 400px;
    -fx-min-height: 100px;
}
.buttonBasic:hover{
    -fx-cursor: hand;
}

.buttonBasic:pressed {
    -fx-scale-shape: true;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-background-color: linear-gradient(from 50% 0% to 50% 100%,
    rgb(20, 233, 101), #6ecc0e);
    -fx-effect: dropshadow(gaussian,rgba(0, 0, 0, 0.25),4,0,0,4);
    -fx-border-color: #FFC900;
    -fx-border-width: 4px;
    -fx-border-radius: 65px;
    -fx-background-radius: 65px;
    -fx-font-size: 40;
    -fx-text-fill: black;
    -fx-font-family: Cagliostro;
}
>>>>>>> refs/heads/master
