.lablelBasique {
    -fx-font-family: Cagliostro;
    -fx-text-fill: #656764;
    -fx-font-size: 40px;
    -fx-line-height: 49px;
    -fx-min-width: 200px;
}
.lablelBasique .text{
    -fx-stroke: Black;
    -fx-stroke-width: 1px;
}
