.labelBasique {
    -fx-font-family: Cagliostro;
    -fx-text-fill: #656764;
    -fx-font-size: 40px;
    -fx-line-height: 49px;
    -fx-min-width: 200px;
}
.labelBasique .text{
    -fx-stroke: Black;
    -fx-stroke-width: 1px;
}

.labelClue {
	-fx-background-color: #C4C4C4;
    -fx-border-radius: 20;
    -fx-background-radius: 65; 
    -fx-min-width:750;
    -fx-min-height:100;
	-fx-alignment:center;
}

.labelPoints {
	-fx-background-color: #45C1DC;
	-fx-border-radius: 15; 
    -fx-background-radius: 15; 
    -fx-min-width:75;
	-fx-alignment:center;
}

.labelTitle {
	-fx-background-color: #C4C4C4;
	-fx-border-radius: 15; 
    -fx-background-radius: 15; 
}

.textField {
    -fx-border-width: 4px;
    -fx-border-radius: 65px;
    -fx-background-radius: 65px;
    -fx-font-size: 40;
    -fx-font-family: Cagliostro;
    -fx-min-width: 300px;
    -fx-max-width: 370px;
    -fx-min-height: 100px;
}


.point-gagne {
    -fx-background-color: orange;
}

.point-consecutif {
    -fx-border-width: 4px;
    -fx-border-color: #b36000;
}


